In [0]:
import pandas as pd
import numpy as np

In [0]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])?
Nothing done.

In [0]:
df= pd.read_csv("/content/CarPrice_Assignment.csv")
df.shape

(205, 26)

In [0]:
df.head()

   car_ID  symboling                   CarName  ... citympg highwaympg    price
0       1          3        alfa-romero giulia  ...      21         27  13495.0
1       2          3       alfa-romero stelvio  ...      21         27  16500.0
2       3          1  alfa-romero Quadrifoglio  ...      19         26  16500.0
3       4          2               audi 100 ls  ...      24         30  13950.0
4       5          2                audi 100ls  ...      18         22  17450.0

[5 rows x 26 columns]

In [0]:
df['fueltype'].value_counts()

gas       185
diesel     20
Name: fueltype, dtype: int64

In [0]:
df.isna().sum() 
df.dropna(inplace=True)

In [0]:
df.drop(['CarName'],axis=1,inplace=True)

In [0]:
df.dtypes

car_ID                int64
symboling             int64
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

In [0]:
X=df.drop(['price'],axis=1)
Y=df['price']
X.shape

(205, 24)

In [0]:
X = pd.get_dummies(X,drop_first= True)

In [0]:
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split as tts

In [0]:
X_train,X_test,y_train,y_test = tts(X,Y)

In [0]:
lm = LinearRegression()

In [0]:
lm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
lm.predict(X_test)

array([17521.21009542,  6991.19239512,  5849.98573945,  9081.4169659 ,
       12493.52280299, 11413.17730197,  8908.23455594, 11265.88338278,
       13688.33074174,  7090.14844416, 22417.2501366 ,  8073.02057915,
       31259.18500905,  6930.01356207,  5064.2246427 , 26410.80112045,
        8150.27221647, 21219.85763821,  6847.88323862,  7208.49809051,
        6382.81835782, 11265.88338278, 19202.40577984, 14167.5582967 ,
       12480.11160158, 10674.87542706, 12155.87473626,  9357.94591326,
       10034.05573539,  5927.11775778, 21942.41812659, 36717.2870369 ,
       16419.44241731, 17403.79008633, 18833.94800972, 10754.71705108,
       19859.63219602, 16896.46142199, 10322.87384812,  8446.27945623,
       10119.08707781, 18368.80892984,  6490.04196706,  6921.7036194 ,
        8256.70723026,  6370.07177406, 17290.29235987,  7499.05001973,
        7172.53042628, 10385.26755836,  8816.42130045,  7375.3902872 ])

In [0]:
lm.score(X_train,y_train)

0.9419446029265677